/* 
1. Posicionamiento
2. modelo caja (Box model)
3. Tipografia
4. Visuales (ej: shadow box, border radius)
5. Otros
*/


/* colores */

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey-light: #757575;
    --grey-dark: #808080;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}


/* Estilos universales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


/* header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background:  linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header .header__logo  {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /* forma de alinear un elemento dentro de un display flex */
}

.header .header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header .header__title-container .header__title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header .header__title-container .header__text {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header .header__title-container .header__button {
    position: absolute;
    display: block;
    top: calc(100% - 24px);
    left: calc(50% - 114px);
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombras*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(https://i.ibb.co/SKfRCgr/down-arrow.png);
}



/* Contenedor principal */

.main-container {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 320px;
}



/*Seccion del container 1 money-container*/

.main-money-container__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(https://i.ibb.co/VLc350F/Bitcoin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-money-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-money-container__title-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.main-money-container .main-money-container__title {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    /* width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto; */
}

.main-money-container .main-money-container__text {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey-light);
}

.main-money-container__tables-container {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 380px;
}

.table-container-currency {
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 345px;
    margin: 0 40px;
    font-family: "Inter", sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16 );
}

.table-container-currency .table-container-currency__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.table-container-currency .table-container-currency__title--blue {
    color: var(--secondary-blue);
}

.table-container-currency__main-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.table-container-currency__main-container table {
    width: 100%;
    height: 100%;
}
.table-container-currency__main-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey-light);
    background-color: var(--white);
}

/*bordear la tabla*/

.table-container-currency__main-container .table--top-left {
    /* border-radius: 15px 0 0 0; */
    border-top-left-radius: 15px;
}
.table-container-currency__main-container .table--top-right {
    border-radius: 0 15px 0 0;
}
.table-container-currency__main-container .table--bottom-left {
    border-radius: 0 0 0 15px;
}
.table-container-currency__main-container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.table-container-currency__main-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--grey-dark);
}

.table-container-currency__main-container .trending {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(https://i.ibb.co/qsc9R2G/trending-down.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-container-currency__main-container .trending--none-display {
display: none;
}

.table-container-currency__main-container .down {
    background-image: url(https://i.ibb.co/9Wt1n2C/trending-up.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-container-currency .table-container-currency__date {
    width: 190px;
    height: 30px;
    margin: 15px auto auto;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.table-container-currency .table-container-currency__date--blue {
    background-color: #E7F5FF;
}

.table-container-currency .table-container-currency__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

/*Skills container*/

.main-skills-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: var(--warm-black);
    color: var(--white);
}

.main-skills-container__logo-batata {
    position: absolute;
    top: -12px;
    display: inline-block;
    width: 40px;
    height: 24px;
    background-image: url(https://i.ibb.co/4tL16BQ/batata.png);
    background-size: cover;
    background-position: center;
}
.main-skills-container__cards-container, 
.main-skills-container__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 4px;
    background-color:var(--black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main-skills-container__title-container--black {
    background-color: inherit;
    box-shadow: none;
}

.main-skills-container__title-container h2 {
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.main-skills-container__title-container p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
    color: var(--grey-dark);
}

.main-skills-container__icon {
    display: inline-block;
    margin-bottom: 6px;
}

.main-skills-container__cards-container h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: start;
}

.main-skills-container__cards-container p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey-dark);
    text-align: start;
}


/* HERO */

.main-hero-container .main-hero-container__hero{
    display: inline-block;
    width: 100%;
    height: 387px;
    min-width: 288px;
    background-image: url(https://i.ibb.co/H7PhtNZ/bitcoinbaby2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-hero-container__title {
    padding-top:50px ;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--white);
    text-align: center;
}

/*container de planes*/

.main-plan-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.main-plan-container__title-container {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-plan-container__title {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-plan-container__text {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-light);
}

/*slider*/


.main-plan-container__slider {
    display: flex;
    height: 316px;
    gap: 14px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-plan-container__card {
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16 );
}

.main-plan-card__float-button {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    font-size: 12px;
    top: -17px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--white);
}

.main-plan-card__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--black);
}

.main-plan-card__price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);
}

.main-plan-card__price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.main-plan-card__discount {
    font-size: 1.2rem;
    color: var(--grey-light);
}

.main-plan-card__button {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

.main-plan-card__button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://i.ibb.co/YjjM6Dp/orange-right-arrow.png");
    vertical-align: text-bottom;
}

/*FOOTER*/

.footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

.footer__links,
.footer__logo {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer__links ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer__links ul li {
    margin: 10px 0;;
}

.footer__links ul li a {
    text-decoration: none;
    color: var(--white);
}